%footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          %p= t('parliament_uk')
        %ul.footer__list
          %li
            =link_to( t('pds_blog'), 'https://pds.blog.parliament.uk/', title: t('open_new_window'), target: '_blank' )
          %li
            =link_to( t('current_website'), 'https://www.parliament.uk/', title: t('open_new_window'), target: '_blank' )
          %li
            =link_to( t('cookie_policy'), meta_cookie_policy_path() )
