%nav.nav{role: I18n.t('pugin.components.menu.navigation'), aria:{ label: I18n.t('pugin.components.menu.navigation') } }
  .container
    %ul
      %li
        %a{ href: '/houses/4b77dd58-f6ba-4121-b521-c8ad70465f52/members/current/a-z/a'}= I18n.t('pugin.components.menu.mps')
      %li
        %a{ href: '/houses/f1a325bf-f550-48a5-ad40-e30cb7b7bdf4/members/current/a-z/a'}= I18n.t('pugin.components.menu.lords')
      %li
        %a{ href: '/houses/4b77dd58-f6ba-4121-b521-c8ad70465f52/parties/current'}= I18n.t('pugin.components.menu.parties')
      %li
        %a{ href: '/constituencies/current/a-z/a'}= I18n.t('pugin.components.menu.constituencies')