<div class="ukpds-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 footer-meta">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <p class="meta-copyright">&copy; Parliamentary Copyright</p>
                    </div>
                    <div class="col-xs-12 col-md-4 text-right">
                        <img class="footer-portcullis" src="<%= image_path('portcullis-black.svg') %>" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>