<div class="ukpds-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/" class="site-logo">
                	<img src="<%= image_path('parliament-uk-white.svg') %>" alt="Parliament UK" class="site-logo">
                </a>
            </div>
        </div>
    </div>
</div>
